

<html>

<head>
 <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .border {
            border: 1px solid #ff0000;
            display: inline-block
        }
    </style>
</head>

<body>

{% for video in videos %}
<p> {{video.name}} </p>
<img src="{{video.image.url}}" width="200px" height="200px"/>

<a href="http://127.0.0.1:8000/videos/id/{{video.id}}/">
<video width="1080" height="720" controls>
  <source src="{{video.video.url}}" type="video/mp4"/>
  Your browser does not support the video tag.
</video>
</a>
<div>
    <p class="border">   Your browser does not support the video tag.
 </p>
    <div>
        <p class="border"> 17 </p> <img src="{{video.image_like.url}}" width="50px" height="50px"/> <p class="border"> Atremii </p>
    </div>


</div>



{% endfor %}

</body>